version: 2
jobs:
    build:
        docker:
        - image: andreacensi/mcdp_books:duckuments@sha256:b50b3ad563b7d6d639dee01eb53e8880515074245c254a5bb8f86e97c32c3e6d
          environment:
              COLUMNS: 160
              TERM: xterm-256color
              EXTRA_MCDP_RENDER_OPTIONS: --ignore_ref_errors

        resource_class: large
        steps:
        - run:  
           command: |
            mkdir -p ~/.ssh/
            echo -e "\nHost github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
        
        - checkout
        - run:
            name: Download resources
            command: |
              git submodule sync --recursive
              git submodule update --init --recursive

        - run:
            name: Compile
            command: make compile-native-ci

        - run:
            name: Link check
            command: |
                # linkcheck drops permissions to nobody, so we need to make everything readable
                chmod -R go+rwX /root
                
                . /project/deploy/bin/activate && make linkcheck || true

        - run:
            when: always
            name: Package artifacts
            command:  |
                find duckuments-dist -name '*.old' -delete
                make package-artifacts

        - store_artifacts:
              path: out/package.tgz
              destination: out/package.tgz


        - store_artifacts:
              path: duckuments-dist
              destination: duckuments-dist


        - test-results-store:
            path: duckuments-dist/junit
